/* Font - size */

$xsmall: 0.750em;
$small: 0.875em;
$medium: 1.125em;
$large: 1.500em;
$xlarge: 2.000em;
$epic: 3.000em;
$jumbo: 4.000em;

/* Font - family */

$basic: 'PT Sans', sans-serif;

/* Theme - colors */

$dark-gray: rgb(58, 58, 58);
$light-gray: rgb(212, 212, 212);
$gray: rgb(124, 124, 124);

$black: rgb(0, 0, 0);
$red: rgb(156, 49, 31);
$white: rgb(239, 239, 237);

$greenish: rgb(53, 203, 104);
$green: rgb(52, 203, 0);
$yellowish: rgb(193, 250, 23);
$yellow: rgb(254, 255, 0);
$orange: rgb(254, 153, 1);
$dark-red: rgb(207, 51, 2);
$light-red: rgb(254, 0, 0);
