.control_panel {
  width: 450px;
  height: 300px;
  background-color: $dark-gray;
  border: solid $black 2px;
  border-radius: 10px;
  box-shadow: 0 8px 2px 0 $black;
  padding: 10px;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.keyboard-key {
  color: $red;
  font-size: 1.250em;
  width: 80%;
  margin: 0 auto;
  border-bottom: solid 2px $black;
  padding: 2px;
}

.sound-name {
  color: $black;
  width: 80%;
  margin: 0 auto;
  padding: 2px;
}
