.display_panel {
  width: 450px;
  height: 140px;
  background-color: $dark-gray;
  border: solid $black 2px;
  border-radius: 10px;
  box-shadow: 0 8px 2px 0 $black;
  padding: 10px;

  margin-bottom: 20px;
}

.power-button {
  width: 120px;
  height: 40px;
  background-image: linear-gradient($dark-red, $dark-red);
  border: solid 2px $black;
  border-radius: 10px;
  position: relative;
  box-shadow: 0 5px 0 0 $black;
  color: $white;
  font: $medium $basic;
  font-weight: 700;

  &:hover, &:focus {
    cursor: pointer;
  }

  &:active {
    box-shadow: 0 2px 0 0 $black;
  }
}

.signature {
  font: $large $basic;
  color: $white;
  font-weight: 700;
  float: right;
}

.display {
  width: 100%;
  height: 90px;
  background-color: $black;
  border-radius: 10px;
  margin-top: 10px;
}

.isOn {
  background-image: linear-gradient($dark-red, $red);
}
